.thing {
    width: 100px;
    height: 100px;
    background-color: rgb(191, 22, 22);
    position: absolute;
    border-radius: 50%;
    transform-origin: 50%, 50% ;
}
#thing0 { /*the Sub's appearance */
    background-color: rgb(97, 110, 118); 
    border-color: rgb(226, 23, 57);
    border-width:   10px 5px 10px 25px;
    border-style: solid;
}
/* Prevent padding and border from affecting element width. */
*,
::before,
::after {
    box-sizing: border-box;
}

/* Remove the margin in all browsers */
body {
    margin: 0;
    padding: 0;
    line-height: inherit;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgba(4, 211, 247, 0.826);
}

#sample-output {
    position: fixed;
    border-radius: 100%;
    background-color: orange;
}