.thing {
    width: 100px;
    height: 50px;
    background-color: rgb(97, 110, 118);
    border-color: rgb(236, 7, 7);
    border-width:   8px 5px 8px 18px;
    border-style: solid;
    position: absolute;
    border-radius: 50%; 
}

/* Prevent padding and border from affecting element width. */
*,
::before,
::after {
    box-sizing: border-box;
}

/* Remove the margin in all browsers */
body {
    margin: 0;
    padding: 0;
    line-height: inherit;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: aqua;
    /*background-image: ; */
}

#sample-output {
    position: fixed;
    border-radius: 100%;
    background-color: orange;
}